*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: rgb(116, 114, 114);
}

.container-main {
    overflow: hidden;
}

nav{
    background-color: rgb(116, 114, 114);
    z-index: 2;
}

.nav-item a{
    color: white;
}
.container{
    margin-top: 100px;
    display: flex;
    justify-content:space-evenly;
}

/* .container-fluid{
    background-color: grey;
    margin: 0;
    padding: 0;
} */

/* .gif{
    translate:inherit;
} */

.figma{
    width: 190px;
    height: 190px;
    margin-left: 300px;
}

.text{
    align-content: center;
    transition: 3s transform linear;
}
.text:hover{
    transform: scale(1,2);
    color: darkturquoise;
}

.card{
    
    border: none;
    border-radius: 20%;
}



.cap{
    text-align: center;
    justify-content: center;
    transition: 2s transform linear;
}
p{
    text-align: center;
}
.cap:hover{
    color:aquamarine;
}

.footer{
    background-color: powderblue;
}

#download{
    margin: 5px;
    padding: 5px;
    border-radius: 2rex;
    background-color: white;
    text-decoration: none;
    transition: 2s transform linear;
}


#download:hover{
    background-color: black;
    color: beige;
}

.technical{
    justify-content: center;
}

.resume{
    align-items: center;
    justify-content: center;
}

.card-body{
    text-align: center;
}

.card{
    background-color: darkturquoise;
}

/* .contactcontainer{
    display:flex;
    flex-direction: column;
} */
/* .cont{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
} */

@media screen and (max-width:320px) {
    body{
        background-color: chocolate;
        color: white;
    }
    .d-flex{
        display: flex;
        flex-wrap: wrap;
    }
    .cap:hover{
        color: black;
    }
}