body{
    background-color: rgb(116, 114, 114);
}

.container{
    margin-top: 100px;
    display: flex;
    justify-content:space-evenly;
}



.text{
    align-content: center;
    transition: 3s transform linear;
}
.text:hover{
    transform: scale(1,2);
    color: darkturquoise;
}

.card{
    
    border: none;
    border-radius: 20%;
}

/* .about{
    display: grid;
    justify-content: center;
} */
/* p{
    display: grid;
    flex-direction: column;
    columns:unset;
    justify-content: space-around;
} */

.cap{
    text-align: center;
    justify-content: center;
    transition: 2s transform linear;
}
p{
    text-align: center;
}
.cap:hover{
    color:aquamarine;
}

.footer{
    background-color: powderblue;
}